@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: druk;
  src: url('../assets/fonts/DRUKWIDE-MEDIUM.TTF');
}
@font-face {
  font-family: monserrat-medium;
  src: url('../assets/fonts/MONTSERRAT-MEDIUM.TTF');
}
@font-face {
  font-family: monserrat-italic;
  src: url('../assets/fonts/MONTSERRAT-LIGHTITALIC.TTF');
}

body,
body[data-theme="light"] {
  --main-color: rgb(9, 9, 9);
  --bg-color: rgb(245, 245, 245);
  --transparent: rgba(255, 255, 255, 0);
  --acc-color: #a600ff;
  --glass-w: rgba(255,255,255,0.2);
  --glass-b: rgba(0,0,0,0.2);
  --shadow: #444;
  --link-glow: #f5d9ab;
  --link-hover: #ffaa00;
  --mint-hover: #eee;
}
body[data-theme="dark"] {
  --main-color: rgb(245, 245, 245);
  --bg-color: rgb(9, 9, 9);
  --transparent: rgba(255, 255, 255, 0);
  --acc-color: #a600ff;
  --glass-w: rgba(255,255,255,0.2);
  --glass-b: rgba(0,0,0,0.2);
  --shadow: #444;
  --link-glow: rgb(106, 87, 156);
  --link-hover: #ffaa00;
  --mint-hover: rgb(27, 27, 27);
}

html,
body {
  background-color: var(--bg-color);
  color: var(--main-color);
  padding: 0;
  margin: 0;
  font-family: monserrat-medium;
  font-size: 15px;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  color: inherit;
}

a:hover {
  color: var(--link-hover);
}

a.active {
  color: var(--link-hover);
}

.container {
  @apply mt-20 max-w-[80%] mx-auto
  /* @apply mt-20 mx-auto */
}

.projects-container {
  @apply sm:mt-20 mt-40 mx-4
}

.projects {
  @apply pt-10 pb-11 grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3 
}

.project {
  @apply pt-10 pb-11 grid grid-cols-1 gap-6 md:grid-cols-2 lg:pb-0 
}

.cv-grid {
  display: grid;
  grid-template-columns:
    3.5fr 1.5fr 5fr 0.5fr;
  justify-self: center;
  justify-content: center;
  text-align: left;
}
@media (max-width: 800px) {
  .cv-grid {
    display: flex;
    flex-direction: column;
  }
}
